In [1]:
import pandas as pd
import pymongo

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [4]:
data   = df.to_dict(orient = "records")

In [5]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://faizan20313_db_user:ENSo6HGuhsfm5eKL@project1cluster.exv8gqd.mongodb.net/?appName=project1Cluster"

In [ ]:
## client
client = pymongo.MongoClient(CONNECTION_URL)

## data base 
data_base = client[DB_NAME]

In [12]:
## collection is like table
collection = data_base[COLLECTION_NAME]

### Uploading inserting data to Mongo DB

In [13]:
rec = collection.insert_many(data)
# data_base.drop_collection(COLLECTION_NAME)

In [8]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,6932adee02a846b75bacf4f2,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,6932adee02a846b75bacf4f3,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [10]:
df

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,6932adee02a846b75bacf4f2,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,6932adee02a846b75bacf4f3,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,6932adee02a846b75bacf4f4,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,6932adee02a846b75bacf4f5,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,6932adee02a846b75bacf4f6,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
481104,693528f33b529d9777e1613d,99996,Female,23,1,8.0,1,< 1 Year,No,49438.0,152.0,277,0
481105,693528f33b529d9777e1613e,99997,Male,54,1,49.0,0,1-2 Year,No,23413.0,26.0,56,0
481106,693528f33b529d9777e1613f,99998,Female,26,1,8.0,1,< 1 Year,No,22694.0,152.0,41,0
481107,693528f33b529d9777e16140,99999,Male,25,1,8.0,1,< 1 Year,No,49994.0,152.0,289,0
481108,693528f33b529d9777e16141,100000,Male,22,1,8.0,0,< 1 Year,Yes,36513.0,160.0,189,0